.Header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #4c5c68;
    color: #46494c;
}

.Header-div {
    padding: 1rem;
    /* color: black; */
    /* color: #379683; */
    color: #dcdcdc;
    
    text-decoration: none;
}
.Header-div:hover {
    padding: 1rem;
    /* color: black; */
    /* color: #379683; */
    color: #46494c;

    text-decoration: none;
}

@media screen and (max-width: 630px){

.Header-div {
    font-size: 0.3rem;
    text-align: center;
}



}