/* .plot-show-plot { */
        /* grid-template-columns: 100%;
        grid-template-rows: 50%; */
        /* display: flex;
        flex-flow: row wrap;
        align-content: center;
        align-self: center;
        justify-content: space-evenly; */
        /* color: red; */
        /* align-items: center;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    
    
} */

/* .plots-show-plot-name {
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    color: black;
    
} */
/* .plots-show-plot-name:visited {
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    color: black;
} */